{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
      {{ category.description|truncatewords:155 }}
    {% else %}
       Welcome to abroz store
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
      {{ category.name }}
    {% else %}
       our products
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
  <div>
      <div>
        <p><a href="{% url 'ecommerceapp:allprodcat' %}">our product collections </a></p>

     </div>
  </div>
  {% endif %}
{% if category %}
  <div class="my_catima">
    <img src="{{ category.image.url }}" alt="{{ category.name }}" width="1120px" height="550px">
  </div>
  <br>
 <div>
     <h1 class="text-center my_title">{{ category.name }}</h1>
     <p class="text-justify">{{ category.description }}</p>
 </div>
{% else %}
<div  style="text-align:center;" class="container-fluid">
     <img src="{% static  'img/malikdkart5.png' %}" alt="our products">
</div>
<br>
<div  style="text-align:center;" class="container-fluid">
    <img src="{% static  'img/malikdkart4.png' %}" alt="our products">
</div>
<!--<div>
    <h1 class="text-center my_title"> our product collections </h1>
    <p class="text-justify"> its our product collections .you can purchase anytime,anywhere you want.high quality products at reasonable price you cant find it anywhere else.its our unique and exclusive collections its made with heavy quality materials nad its very special and also lot  of collection are here so you wont have to go anywhere if you visit our online store</p>
</div>-->
{% endif %}
<div  class="container">
    <div style="text-align:center;" class="row row-30">

        {% for product in products.object_list %}
      <div style="padding-bottom:10px;" class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
           <div class="shadow card" style="width:18rem;height:25rem;" >
               <div class="card-body"></div>
               <a href="{{ product.get_url }}"><img class="card-image-top" src="{{ product.image.url }}" alt="{{ product.name }}" width="285px" height="300px"></a>
           <div>
             <h4 class="card-title text-center my_pname"><b>{{ product.name }}</b></h4>
             <p class="card-title text-center">${{ product.price }}</p>

           </div>
           </div>
      </div>


          {% endfor %}
    </div>
     <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
  <div class="container">
      <div  style="padding-top:10%; padding-bottom:10%;" class="wrapper">
         <div class="carousel owl-carousel">
            <div class="card card-1">
               <img src="{% static 'img/banner.jpg' %}">
            </div>
            <div class="card card-2">
               <img src="{% static 'img/zain.jfif' %}">
            </div>
            <div class="card card-3">
               <img src="{% static 'img/banner.jpg' %}">
            </div>
            <div class="card card-4">
               <img src="{% static 'img/banner.jpg' %}">
            </div>
            <div class="card card-5">
               <img src="{% static 'img/banner.jpg' %}">
            </div>
         </div>
      </div>
      </div>
      <script>
         $(".carousel").owlCarousel({
           margin: 20,
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000,
           autoplayHoverPause: true,
           responsive: {
             0:{
               items:1,
               nav: false
             },
             600:{
               items:2,
               nav: false
             },
             1000:{
               items:3,
               nav: false
             }
           }
         });
      </script>

    <div  class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="{%  static 'img/banner.jpg' %}">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="{%  static 'img/banner.jpg' %}">
            </div>
        </div>

    </div>

    <div  style="text-align:center;"  class=" container-fluid">
        <div style="text-align:center; padding-top:30px; padding-bottom:20px;" class="title">
            <h3 style="text-decoration:uppercase;">Our Brands</h3>
            </div>
        <div  class="row">
        <div  class="col-md-3 col-lg-2 col-xl-2">
            <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
            </div>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2">
            <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
                </div>
                </div>
            <div class="col-md-3 col-lg-2 col-xl-2">
             <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
                </div>
                </div>
            <div class="col-md-3 col-lg-2 col-xl-2">
              <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
            </div>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2">
             <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
            </div>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2">
            <div style="height:20px; width:50px;" class="card">
            <img src="{% static 'img/logo.png' %}">
                </div>
                </div>
            </div>


            <div style="padding-top:5%; padding-bottom:10%;" class="row">
            <div class="col-md-3 col-lg-2 col-xl-2">
             <div style="height:20px; width:50px; padding-bottom:8px;" class="card">
            <img src="{% static 'img/logo.png' %}">
                </div>
                </div>
            <div class="col-md-3 col-lg-2 col-xl-2">
              <div style="height:20px; width:50px; padding-bottom:8px;" class="card">
            <img src="{% static 'img/logo.png' %}">
            </div>
        </div>
                </div>
     </div>







<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="  container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="#">Abroz Designers.com</a>
  </div>-->
  <!-- Copyright -->
</footer>
</div>


 {% endblock %}
